extends layout

block content
  h1= title
  p Welcome to #{title}

  //- Register Form
  form(method='POST')
    h1 Sign Up
    label(for='email') Email:
    input#email(type='email', placeholder='name@email.com' name='email')
    label(for='password') Password:
    input#password(type='password' name='password')
    label(for='password-confirm') Confirm Password:
    input#password-confirm(type='password' name='confirm_password')
    h1 Login
    label(for='login_email') Email:
    input#email(type='email', name='login_email')
    label(for='login_password') Password:
    input#password(type='password' name='login_password')
    button(type='submit') SUBMIT