extends layout

block content
    script(src='/socket.io/socket.io.js' defer)
    script(src='/scripts/tableChat.js' defer)
    p Connected to table: #{table_id}
    ul#messages
    form#message-form(action="")
        textarea#message(name="message", cols="30", rows="10")
        button(type='submit') SUBMIT
        ul#typing