extends layout

block content
    script(src='/socket.io/socket.io.js' defer)
    script(src='/scripts/tableChat.js' defer)
    p Connected to table: #{table_id}
    ul#messages
    form#message-form(action="")
        input#message(type='text', name='message')
        button(type='submit') SUBMIT
        ul#typing